.menu-container {
  padding-top: 40px;
  position: fixed;
  /*  bottom: 20px;  Điều chỉnh vị trí bottom của menu */
  /* right: 20px;  Điều chỉnh vị trí right của menu */
  /*  width: 190px; Kích thước của menu */
  /*  height: 190px; Kích thước của menu */
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  /* border-radius: 50%;*/
}

.menu-item {
  width: 35px; /* Kích thước của từng phần tử trong menu */
  /* Kích thước của từng phần tử trong menu */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
